## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
sample_list_1=random.sample(range(101),k=80)

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [19]:
set1=set(sample_list_1)
print(len(set1))
print(set1)

80
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 19, 20, 22, 25, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 85, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
sample_list_2=[]

for i in range (80):
    x=random.randint(0,100)
    sample_list_2.append(x)


print(sample_list_2)
len(sample_list_2)

[92, 51, 75, 67, 14, 97, 80, 37, 64, 22, 42, 33, 15, 19, 29, 59, 99, 75, 36, 42, 59, 14, 79, 77, 17, 48, 27, 47, 35, 37, 93, 55, 88, 53, 93, 17, 4, 21, 38, 70, 81, 79, 86, 89, 80, 90, 30, 63, 24, 57, 72, 15, 24, 50, 9, 3, 90, 60, 74, 56, 23, 49, 9, 62, 33, 17, 5, 38, 18, 78, 16, 22, 46, 92, 71, 85, 35, 36, 71, 33]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
set2=set(sample_list_2)
len(set2)
# the length is not 80 as the non unique numbers are deleted from the set

58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [38]:
set3=[]

for num in set1:
    if num not in set2:
        set3.append(num)

set3=set(set3)
print(len(set3))
print(set3)

35
{2, 6, 7, 8, 10, 11, 12, 13, 20, 25, 28, 32, 34, 39, 40, 41, 44, 45, 52, 54, 58, 61, 65, 66, 69, 73, 76, 83, 87, 91, 94, 95, 96, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [37]:
set4=[]

for num in set2:
    if num not in set1:
        set4.append(num)

set4=set(set4)
print(len(set4))
print(set4)

13
{89, 15, 47, 48, 18, 49, 50, 21, 79, 23, 24, 86, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [36]:
set5=[]

for num in set1:
    if num in set2:
        set5.append(num)

set5=set(set5)
print(set5)
print(len(set5))

{3, 4, 5, 9, 14, 16, 17, 19, 22, 27, 29, 30, 33, 35, 36, 37, 38, 42, 46, 51, 53, 55, 56, 57, 60, 62, 63, 64, 67, 70, 71, 72, 74, 75, 77, 78, 80, 81, 85, 88, 90, 92, 93, 97, 99}
45

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [43]:
print((len(set4)+len(set5))==len(set2))
print((len(set3)+len(set5))==len(set1))

True
True

#### Create an empty set called `set6`.

In [45]:
set6=set([])
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [48]:
set6.update(set3)
set6.update(set5)

print(len(set6))

80

#### Check if `set1` and `set6` are equal.

In [49]:
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [51]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [52]:
set3.union(set4,set5)==set3.union(set1,set2)

True

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
# Your code here
set1.pop()

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [57]:
#Using list comprehension
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1=set([i for i in set1 if i not in list_to_remove])

# returns the value "i" for the loop in set1 if it makes the following conditions...
# for the conditions part --> it can be a one-liner
print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 17, 20, 22, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 83, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}